button {
    border-radius: 50px;
    border: 2px solid #ddd;
    background: transparent;
    transition: .3s cubic-bezier(0.215, 0.610, 0.355, 1);
    padding: .2rem 1rem;
}

@media (hover: hover) {
    button:hover:enabled {
        opacity: .65;
    }
}

button:active:enabled {
    border: 2px dotted #ccc;
    opacity: 1;
}