a {
  text-underline-offset: 4px;
}


@media screen and (min-width:760px) {
  h1 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.2rem
  }
}

h1 {
  font-variation-settings: 'wght' 600, 'slnt' 0;
  letter-spacing: -0.076em;
  font-size: 5rem;
  line-height: 1.1;
}

@supports (font-variation-settings: normal) {
  h1 {
    font-family: 'Inter var experimental', system-ui, sans-serif;
  }
}